.sensor-graphs-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.graph-box {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    /* Asegura que el gráfico ocupe todo el ancho disponible del contenedor */
    max-height: 400px;
    /* Limita la altura máxima de los gráficos */
}

/* Media query para pantallas más grandes */
@media (min-width: 768px) {
    .sensor-graphs-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .graph-box {
        max-height: 600px;
        max-width: 300px;
        /* Permite una altura mayor en pantallas grandes */
    }
}

/* Media query para pantallas pequeñas */
@media (max-width: 767px) {
    .graph-box {
        max-height: 300px;
        max-width: 200px;
        /* Reduce la altura en pantallas pequeñas */
    }
}