.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sensor-box {
  background-color: white;
  /* Fondo blanco para la caja */
  border-radius: 10px;
  /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
    /* Sombra suave para efecto 3D */
    0 6px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* Espaciado interno */
  margin: 10px;
  /* Margen externo */
  text-align: center;
  /* Alineación del texto */
  font-size: 1.2em;
  /* Tamaño de la fuente */
  color: black;
  /* Color del texto */
  font-family: 'Arial', sans-serif;
  /* Tipografía */
  transition: transform 0.3s;
  /* Transición suave para efecto hover */
}

.sensor-box:hover {
  transform: translateY(-5px);
  /* Efecto hover para levantar la caja */
}