.sensor-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas en pantallas grandes */
    grid-gap: 10px;
    padding: 20px;
}

.sensor-box {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

/* Media query para pantallas pequeñas, típicamente celulares */
@media (max-width: 600px) {
    .sensor-grid {
        grid-template-columns: 1fr;
        /* Una columna en pantallas pequeñas */
    }
}